<div class="public-dashboard-marketplace-app">
    <!-- Header -->
  <div class="row show-header">
    <div class="col-12 public-back-button-container">
      <a ui-sref="public.landing()" class="public-back-button">
        <i class="fa fa-chevron-left"></i> {{ 'mno_enterprise.templates.dashboard.marketplace.show.back' | translate }}
      </a>
    </div>
  </div>
  <!-- Landing Page Content -->
  <div class="show-content top-buffer-1" ng-show="!vm.isLoading">
    <div class="landing-media" ng-show="!vm.isLoading">

      <div class="col-md-2 col-lg-2 col-sm-12 public-logo-wrapper">
        <img class="landing-logo" ng-src="{{vm.app.logo}}" ng-alt="{{vm.app.name}}">
        <div class="app-rating pull-left">
          <div ng-show="vm.isRateDisplayed">
            <average-star-rating ng-model="vm.averageRating" display-rating="true" max="5"></average-star-rating>
          </div>
        </div>
      </div>

      <div class="col-md-3 col-lg-3 col-sm-12 landing-content-left">
        <div class="public-media-wrapper">
          <div class="media-body">

            <h2 class="media-heading">{{vm.app.name}}</h2>
            <h3 class="tiny-description">{{vm.app.tiny_description}}</h3>
            <!-- benefits -->
            <div class="key-benefits-wrapper">
              <div class="key-benefits">
                <li class="public-benefit" ng-repeat="benefit in vm.app.key_benefits track by $index">
                  <i class="fa fa-check"></i>
                  {{benefit}}
                </li>
              </div>
            </div>

            <!-- features -->
            <div class="app-features">
              <li ng-show="vm.app.is_responsive" class="public-app-features">
                <img class="feature-logo" src="images/icons/mobile-responsive-logo.png" alt="Responsive">
                {{ 'mno_enterprise.templates.dashboard.marketplace.show.tag_responsive' | translate }}
              </li>
              <li ng-show="vm.app.is_star_ready" uib-tooltip="Your live tutorials directly inside your app" class="public-app-features">
                <img class="feature-logo" src="images/icons/star-enabled-logo.png" alt="Star! enabled">
                {{ 'mno_enterprise.templates.dashboard.marketplace.show.tag_star' | translate }}
              </li>
              <li ng-show="vm.app.is_connec_ready" uib-tooltip="Your Data automatically shared between your applications" class="public-app-features">
                <img class="feature-logo" src="images/icons/connec-enabled-logo.png" alt="Connec! enabled">
                {{ 'mno_enterprise.templates.dashboard.marketplace.show.tag_connec' | translate }}
              </li>
            </div>
          </div>
        </div>
      </div>
      <!-- Carousel -->
      <div class="col-md-7 col-lg-7 col-sm-12 landing-content-right">
        <div class="well carousel">
          <div uib-carousel interval="3000" active="0">
            <div uib-slide ng-repeat="picture in vm.app.pictures" class="screenshot" index="$index">
              <img ng-src={{picture}} alt="screenshot">
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Testimonials row -->
    <div class="row">
      <div class="col-md-6" ng-repeat="testimonial in vm.app.testimonials | limitTo:2" ng-show="vm.isTestimonialShown(testimonial)">
        <div class="ribbon-testimonial">
          <div class="body">
            {{testimonial.text}}
            <div class="arrow"></div>
          </div>
          <div class="from">
            <div class="name">{{testimonial.author}}</div>
            <div class="company">{{testimonial.company}}</div>
          </div>
        </div>
      </div>
    </div>

    <!-- Description row -->
    <div class="row">
      <div class="col-md-12">
        <div class="well public-description" ng-bind-html="vm.app.description"></div>
      </div>
    </div>

      <!-- Pricing -->
      <div ng-if="vm.isPriceShown" class="row top-buffer-1">
        <div class="col-md-12">
          <div class="well" ng-switch="vm.app.pricing_plans">
            <h2>{{ 'mno_enterprise.templates.dashboard.marketplace.show.price' | translate }}</h2>
            <ul>
              <li ng-repeat="plan in vm.pricingPlans">
                <b>{{plan.name}}</b>: {{plan.description}}<br>
                <div ng-if="vm.pricedPlan(plan)">
                  <span>{{plan.currency}}</span>
                  <span ng-show="plan.price.value">{{plan.price.value}}</span>
                  <span ng-hide="plan.price.value">{{plan.price}}</span>
                  <span ng-show="plan.pricing_type == 'recurring'">{{plan.factor}}</span>
                </div>
                <div ng-show="plan.pricing_type == 'payg'">
                  <span>{{ 'mno_enterprise.templates.dashboard.marketplace.show.pricing.payg' | translate }}</span>
                </div>
              </li>
            </ul>
            <div ng-bind-html="vm.app.pricing_text"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
